@import "../../style/shared/variables";
.inp {
  display: block;
  margin: 0.2em auto;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 10px 20px 10px 20px;
  width: 100%;
}
